/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.form-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.form-content form {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    gap: 15px
}

aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right {
    width: 65%;
}
.red {
    background: red;
    color: #ffffff;
}

.green {
    background: green;
    color: #ffffff;
}