.flex-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.red{
    background: red;
    color: #ffffff;
}
.green{
    background: green;
        color: #ffffff;
}
.row{
    display: flex;
    flex-direction: row;
}